---
layout: page
title: 关于
header: about
group: navigation
index: 5
---
{% include site/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    童军（又称童军运动，英文为Scouting，台湾旧制和香港旧制称童子军），是一个国际性的、非政治性的、非军事性的、非政府性的（NGO）以及非营利性的（NPO）的青少年运动组织。童子军的目的是透过强调野外实践活动的非正规教育，在身体、精神和智力上培训青少年，使他们将来对社会作贡献，是一个相当多元的组织，也因此他们常在社会上扮演着建设性的角色。
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>童军运动</span></td>
        <td><a href="http://scout.org">scout.org</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include site/comments %}
